<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appsplayerstudio.workoutmanager">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:name="com.appsplayerstudio.workoutmanager.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.VideoChat"
        tools:targetApi="n">
        <activity
            android:name="com.appsplayerstudio.workoutmanager.activitys.LoadingScreen"
            android:exported="false" />
        <activity
            android:name="com.appsplayerstudio.workoutmanager.activitys.LocationActivity"
            android:exported="false" />
        <activity
            android:name="com.appsplayerstudio.workoutmanager.activitys.CallNowActivity"
            android:exported="false" />

        <activity
            android:name="com.appsplayerstudio.workoutmanager.livevideocall.activity.CallLiveActivity"
            android:exported="false" />
        <activity
            android:name="com.appsplayerstudio.workoutmanager.livevideocall.activity.ConnectLiveActivity"
            android:exported="false" />

        <activity
            android:name="com.appsplayerstudio.workoutmanager.activitys.ChatRoomActivity"
            android:exported="false" />
        <activity
            android:name="com.appsplayerstudio.workoutmanager.activitys.TermUseActivity"
            android:exported="false" />
        <activity
            android:name="com.appsplayerstudio.workoutmanager.activitys.GenderActivity"
            android:exported="false" />
        <activity
            android:name="com.appsplayerstudio.workoutmanager.activitys.AgeActivity"
            android:exported="false" />
        <activity
            android:name="com.appsplayerstudio.workoutmanager.activitys.StartActivity"
            android:exported="false" />
        <activity
            android:name="com.appsplayerstudio.workoutmanager.activitys.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.appsplayerstudio.workoutmanager.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.appsplayerstudio.workoutmanager.blockuser.BlockListActivity"
            android:exported="true" />


    </application>

</manifest>